<%- include('partials/header') %>
      <nav class="navbar navbar-expand-lg underline">
        <div class="container-fluid">
          <a class="navbar-brand navbarWhite" href="#">Smalls Instrumentals</a>
        </div>
      </nav>

      <div class="container titleSpacing">
        <div class="row">
          <div class="col">
            <h2>Songs</h2>
            <p>Email ratughadimusic@gmail.com for business inquires only.</p>
          </div>
        </div>
      </div>

      <div class="container musicPlayerMargin">
        <div class="row">
          <div class="card noBoarder">
            <img src="/beats/Space Image.png"
              height="100%" width="100%" />
            <div class="card-body">
              <div class="col">
                <div id="producer" class="row"><h4>Producer Name:</h4></div>
                <div id="song" class="row"><h4>Beat Name:</h4></div>
                <div id="album" class="row"><h4>Album Name:</h4></div>
                <div id="label" class="row"><h4>Record Label:</h4></div>
              </div>
            </div>  
          
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div id="progressBar"><div id="progress"></div></div>
                </div>
                <div class="col-4">
                  <h3 id="duration">0:00</h3>
                </div>
              </div>
            </div>

            <div class="card-body">
              <% beats.forEach(beat => { %>
                <div class="row">
                  <div class="col-10">
                    <li class="hover">
                      <h4 artist="<%= beat.producer %>" cover="/beats/<%= beat.imagefile.originalname %>" song="<%= beat.beat %>" album="<%= beat.album %>" recordLabel="<%= beat.recordlabel %>"><%= beat.beat %> -- $30</h4>
                      <audio>
                        <source src="<%= beat.file %>" type="<%= beat.mimetype %>" />
                      </audio>
                    </li>
                  </div>
                  <div class="col-2">
                    <form action="/create-checkout-session/<%= beat._id %>" method="post">
                      <button class="btn btn-primary btn-block btn-sm" type="submit">Buy</button>
                    </form>
                  </div>
                </div>
              <% }) %>  
            </div>
          </div>
        </div>
      </div>
<%- include('partials/footer') %>